.itemPage {
    width: 100%;
    min-height: 100vh;
}
.itemConteiner {
    width: 100%;
    padding-inline: 11vw;
    padding-bottom: 11vw;
}
.itemBlank {
    width: 100%;
    background-color: #ffff;
    display: grid;
    padding: 1rem;
}
.top {
    display: flex;
}
.topRigth {
    display: grid;
}
.priceAndDecimals {
    display: flex;
}
.bottom {
    display: grid;
    gap: 1rem;
}
.bigProductImage {
    height: 70vh;
}
